body {
  background-color: #213931;
}

h1,
h3 {
  font-family: "Josefin Sans", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
h4,
h5 {
  font-family: "Josefin Sans", serif;
  font-size: 25px;
  font-weight: 300;
  font-style: normal;
  color: azure;
}
header {
  background-color: rgba(94, 124, 94, 0);
  background-image: linear-gradient(
      rgba(59, 198, 219, 0),
      rgba(20, 24, 21, 0.61)
    ),
    url("../images/Switzerland-header.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: right;
  background-position: center;
  padding: 80px 10px 80px 30px;

  color: white;
  font-size: 40px;
}

main {
  background: rgba(53, 81, 56, 0.478);
}

main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
  color: #aaa9ab;
  opacity: 0.3;
  text-transform: uppercase;
}

main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #bbbbbc;
  margin: 0;
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #e1e1e1;
  opacity: 0.7;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

#more {
  color: white;
  text-decoration: none;
  background-color: #213931a0;
  padding: 10px;
  border-radius: 3px;
  font-family: "Josefin Sans", serif;
}

#more:hover {
  color: #213931;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.673);
}

footer {
  background-image: linear-gradient(
      rgba(30, 53, 36, 0.779),
      rgba(30, 53, 36, 0.779)
    ),
    url("../images/Living-and-Working-in-Switzerland.jpg");
  color: rgba(212, 209, 209, 0.651);
  font-family: "Josefin Sans", serif;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}

a {
  color: rgba(237, 235, 235, 0.723);
  text-decoration: none;
}
a:hover {
  color: rgba(128, 128, 128, 0.582);
  text-decoration: underline;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
}

.responsive-img {
  max-width: 100%;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns-footer {
  grid-template-columns: 1fr 2fr 2fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.text-center {
  text-align: center;
}

.card {
  background: #213931;
  margin: 30px 0;
  box-shadow: 1px 3px 4px 0.03px;
}

.card-body {
  padding: 30px;
}

.card-footer {
  padding: 0 30px 30px;
}

.embed {
  width: 100%;
  aspect-ratio: 1/1;
}

.btn {
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #93a697;
  padding: 10px;

  border-radius: 3px;
  font-family: "Josefin Sans", serif;
}
.btn:hover {
  background-color: #93a69785;
  text-decoration: underline;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

section.secondary {
  background-color: rgba(59, 68, 57, 0.811);
  text-align: center;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;

  line-height: 24px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 1;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}

@media (max-width: 900px) {
  header {
    font-size: 17px;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  section {
    padding: 30px;
  }
}
